PORT=4002

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sistema_assistencia_tecnica
DB_USER=postgres
DB_PASSWORD=postgres

# Use apenas se quiser conectar por URL completa.
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/sistema_assistencia_tecnica
# DB_SSL=false
